
$color-primary: rgb(243, 229, 214);
$color-text: rgb(40, 53, 106);
$color-secondary-text: rgb(78, 110, 149);
$color-brand: rgb(255, 155, 97);
$color-additional-pro:rgba(21, 255, 0, 0.781);
$color-additional-medium:rgba(255, 166, 0, 0.781);
$color-additional-beginner:rgb(255, 113, 47);
$color-background:  rgb(255, 155, 97);
$color-link-hover: rgb(23, 42, 117);
$color-heading: rgb(0, 0, 0);
$color-border: grey;
$color-footer-text: rgb(255, 255, 255);
$button-color:rgb(255 155 97);
$button-hover: rgb(253 94 0);
$hamburger-color: rgb(40, 53, 106);

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;