html {
    font-size: 10px;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: all .5s ease-in-out;
    scroll-padding-top: 85px;
    @include media-mobile {
        scroll-padding-top: 45px;
    }
}
body {
    font-size: 1.6rem;
    font-family: 'Nunito', Verdana, sans-serif;
    color: $color-text;
    background: #ffffff;
    margin: 0 auto;
}

h1 {
    @include font($size: 4.4rem, $height: 6.4rem)
}

h2 {
    @include font($size: 3.4rem, $height: 5.6rem);
    @include media-mobile {
        @include font($size: 2rem, $height: 3.6rem)
    }
}

h3 {
    @include font($size: 3rem, $height: 4.4rem);
    @include media-mobile {
        @include font ($size: 1.6rem, $height: 3rem)
    }
}

h4 {
    @include font($size: 2.2rem, $height: 4rem);
    @include media-mobile {
        @include font($size: 1.4rem, $height: 2rem)

    }
}

h5 {
    @include font($size: 1.6rem, $height: 3.6rem)
}

p {
    font: normal 400 20px 'Nunito';
    line-height: 45px;
    @include media-mobile {
        @include font($size: 1.6rem, $height: 3rem, $weight: normal)
    }
}


ul {
    list-style: none;
    padding: 0;
}


a {
    text-decoration: none;
    color: rgb(40, 53, 106);
}

